<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">  
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0)">Heroes</a>
        </div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav">
            <li ui-sref-active="active" ui-sref="app.home"><a href="javascript:void(0)">Home</a></li>
            <li ui-sref-active="active" ui-sref="app.create"><a href="javascript:void(0)">Create</a></li>
        </ul>
    </div>
</nav>  